version: '2.0'
networks:
  ewasm:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/24
services:
    geth_hera:
        container_name: geth_evmc
        image: ewasm/geth-hera
        user: root
        volumes:
        - ./data/geth-hera:/root/data
        command: /root/geth --vm.ewasm="/root/libhera.so,metering=true,fallback=true" --syncmode="full" --etherbase a8c3eeb2915373139bcfc287d4ae9e660d734881 --rpc --rpcapi "web3,net,eth,debug" --rpcvhosts=* --rpcaddr "0.0.0.0" --rpccorsdomain "*" --mine --miner.threads 1 --networkid 66 
        networks:
            ewasm:
                ipv4_address: 172.28.0.2
    etherchain_light:
        container_name: etherchain_light
        image: ewasm/etherchain-light
        command: npm start -- --rpc=http://172.28.0.2:8545
        depends_on:
        - "geth_hera"
        networks:
            ewasm:
                ipv4_address: 172.28.0.3
    ewasm_studio:
        container_name: ewasm_studio
        image: ewasm/ewasm-studio
        environment:
            PORT: 80
        networks:
            ewasm:
                ipv4_address: 172.28.0.4
